/* for small devices */

@media screen and (max-width: 576px) {
  /* header Section */
  .navbar {
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
  }
  .navbar .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .banner-content h1 {
    font-size: 2.5rem;
  }

  /* Team Section */
  #teams .container {
    flex-direction: column-reverse;
  }
  .team-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-images img {
    width: 100%;
  }
  .team-content {
    margin-left: 0;
  }
  .section-title {
    font-size: 2rem;
  }
}
