/* for small devices */
/* TODO: Responsive the banner section */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
  }
  .navbar .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .banner-content h1 {
    font-size: 2.5rem;
  }
}
