/* for small devices */
@media screen and (max-width: 576px) {
  /* header Section */
  .navbar {
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
  }
  .navbar .brand {
    font-size: 2rem;
  }
  .navbar .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .banner-content h1 {
    font-size: 2.5rem;
  }

  /* Team Section */
  #teams .container {
    flex-direction: column-reverse;
  }
  .team-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-images img {
    width: 100%;
  }
  .team-content {
    margin-left: 0;
  }
  .section-title {
    font-size: 2rem;
  }

  /* feature section */
  .feature-area {
    flex-direction: column;
    gap: 0;
  }
  .feature-card {
    text-align: center;
  }
  .feature-images img {
    width: 100%;
  }
  .feature-images h4 {
    margin-left: 46px;
  }
  .feature-images .years {
    font-size: 2rem;
  }

  /* facts section */
  .facts-card-content {
    margin-top: 40px;
    flex-direction: column;
    padding: 0 0;
  }
  .facts-card {
    margin: 20px 0;
  }

  /* Sponsors Section */
  .sponsors-images {
    flex-direction: column;
    gap: 20px;
  }

  /* footer Section */
  #footer {
    padding: 60px 0 0;
  }
  .footer-area {
    width: 100%;
  }
  .footer-area p {
    font-size: 0.8rem;
    padding: 20px;
  }
}
