/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* shared style */

.bg-light-orange {
  background-color: rgba(255, 144, 14, 0.1);
}
/* dark 01 */
.text-black {
  color: #131313;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}
.text-orange {
  color: #ff900e;
  color: #ff900e;
}

.display-flex {
  display: flex;
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
/* h2 heading for all needed class */
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24;
}
.btn {
  padding: 20px 25px;
  font-size: 1.4rem;
  font-weight: 600px;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #ff900e;
  margin-bottom: 50px;
}
.btn:hover {
  background-color: #f05f0c;
}

/* main style */
.navbar {
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.navbar .brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav-links li {
  list-style: none;
  margin-right: 30px;
}
.nav-links li:nth-child(4) {
  margin-right: 0;
}
.nav-links li a {
  text-decoration: none;
  font-size: 1.25rem;
}

#banner {
  margin-top: 100px;
  padding-bottom: 45px;
}
.banner-content {
  text-align: center;
}
.banner-content h1 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-content p {
  font-size: 1rem;
  text-align: center;
  line-height: 26px;
  margin: 30px 0;
}

.banner-img img {
  width: 100%;
}

/* Team Section */
#teams {
  padding: 130px 0;
}
#teams .container {
  align-items: center;
}
.section-title .quick-list {
  font-weight: 500;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-content {
  margin-left: 70px;
}
.team-content p {
  font-size: 1rem;
  line-height: 26px;
  margin: 30px 0;
}
