/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* shared style */
.bg-light-orange {
  background-color: rgba(255, 144, 14, 0.1);
}
/* dark 01 */
.text-black {
  color: #131313;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}

.display-flex {
  display: flex;
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}

/* main style */
.navbar {
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.navbar .brand {
  font-size: 45px;
  font-weight: 700;
}
.nav-links li {
  list-style: none;
  margin-right: 30px;
}
.nav-links li a {
  text-decoration: none;
  font-size: 1.25rem;
}
